body{
  font-family:"cursive";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: "sans-serif";
  font-size: 3rem;
  font-weight:bold;
  line-height:1.5;
}
/* .heading{
padding-left: 9rem;
} */
.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding-bottom:0 0 8rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
  font-weight:bold;
}
.nav-item{
  padding:  0 18px
}
.nav-link{
  font-size:1.2rem;
  font-family: monospace;
}
. download-button{
  margin: 5% 3% 5% 0;
}
.title-img{
width: 60%;
transform:rotate(25deg)
}
#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "sans-serif";
  font-weight: bold;
}
p{
  color:grey;
  font-family: cursive;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
